<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="Template.html"
>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <title>Applications List</title>
</head>
<body>
<div layout:fragment="content">
<main>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">RESUME</th>
            <th scope="col">APPLICATION STATE</th>
            <th scope="col">APPLICANT</th>
            <th scope="col">JOB LISTING</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="applications:${Applications.content}">
                <td th:text="${applications.id}"></td>
                <td th:text="${applications.resume}"></td>
                <td th:text="${applications.applicationState}"></td>
                <td th:text="${applications.applicant.firstName}+ ' ' +${applications.applicant.lastName}" ></td>
                <td th:text="${applications.jobListing.jobTitle}"></td>
                <td th:if="${#authorization.expression('hasRole(''ADMIN'') or hasRole(''APPLICANT'')')}">
                    <a th:onclick="'return confirm(\'Are you sure to delete this Application?\')'" th:href="@{'deleteApplication?id='+${applications.id}}">
                        Delete
                    </a>
                    <a th:href="@{'editApplication?id='+${applications.id}}">
                        Edit
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <ul class="nav nav-pills">
        <li th:each="page, status:${pages}">
            <a th:class="${status.index == currentPage?'btn btn-primary':'btn'}"
               th:href="@{applicationsList(page=${status.index}, size=${size})}"
               th:text="${status.index}"
            ></a>
        </li>
    </ul>
</main>
<!--
<footer>
    <a th:href="@{createApplication}">Application Creation</a>
</footer> -->
</div>
</body>
</html>

