<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="Template.html"
>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <title>JobListing Creation</title>
</head>
<body>
<div layout:fragment="content">
<main>
    <form th:action="@{saveJobListing}" method="post">
        <div>
            <label for="jobTitle" class="form-label fw-semibold">Job title : </label>
            <input type="text" class="form-control form-control-lg" id="jobTitle" name="jobTitle" required>
        </div>
        <div>
            <label for="description" class="form-label fw-semibold">Description : </label>
            <input type="text" class="form-control form-control-lg" id="description" name="description" required>
        </div>
        <div>
            <label for="company" class="form-label fw-semibold">Company : </label>
            <input type="text" class="form-control form-control-lg" id="company" name="company" required>
        </div>
        <div>
            <label for="salary" class="form-label fw-semibold">Salary : </label>
            <input type="number" class="form-control form-control-lg" id="salary" name="salary" required>
        </div>
        <div>
            <label for="jobTypes" class="form-label fw-semibold">Job Type:</label>
            <select name="jobTypes" id="jobTypes" required class="form-control form-control-lg">
                    <option th:each="jobType:${jobTypes}" th:value="${jobType}" th:text="${jobType}"></option>
            </select>
        </div>
        <div>
            <label for="datePosted" class="form-label fw-semibold">Date Posted : </label>
            <input type="date" class="form-control form-control-lg" id="datePosted" name="datePosted" >
        </div>
        <div>
            <label for="category" class="form-label fw-semibold">Category:</label>
            <select name="category" id="category" required class="form-control form-control-lg">
                    <option th:each="category:${categories}" th:value="${category.id}" th:text="${category.name}"></option>
            </select>

        </div>
        <div>
            <label for="jobPoster" class="form-label fw-semibold">Job Poster:</label>
            <select name="jobPoster" id="jobPoster" required class="form-control form-control-lg">
                    <option th:each="jobPoster:${jobPosters}" th:value="${jobPoster.id}" th:text="${jobPoster.lastName}"></option>
            </select>

        </div> <br>
        <div>
            <input type="submit" value="Save" class="btn btn-outline-success">
        </div>
    </form>
</main>
<!--<footer>-->
<!--    <a th:href="@{JobListingsList}">JobListings List</a>-->
<!--</footer>-->
</div>
</body>
</html>
