<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="Template.html"
>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <title>Category Creation</title>
</head>
<body>
<div layout:fragment="content">
<main>
    <form th:action="@{saveCategory}" method="post">
        <div>
            <label for="name" class="form-label fw-semibold">Category Name : </label>
            <input type="text" class="form-control form-control-lg" id="name" name="name" required>
        </div> <br>
        <div>
            <input class="btn btn-outline-success" type="submit" value="Save">
        </div>
    </form>
</main>
<!--<footer>-->
<!--    <a th:href="@{CategoriesList}">Categories List</a>-->
<!--</footer>-->
</div>
</body>
</html>
