<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="Template.html"
>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <title>Job Listing Edition</title>
</head>
<body>
<div layout:fragment="content">
<main>
    <section class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
    <form th:action="@{updateJobListing}" method="post">
        <div hidden="hidden" >
            <label for="id">ID : </label>
            <input type="text" id="id" name="id" th:value="${jobListing.id}">
        </div>
        <div data-mdb-input-init class="form-outline mb-4">
            <label for="jobTitle" class="form-label fw-semibold">Job title : </label>
            <input type="text" class="form-control form-control-lg" id="jobTitle" name="jobTitle" th:value="${jobListing.jobTitle}">
        </div>
        <div data-mdb-input-init class="form-outline mb-4">
            <label for="description" class="form-label fw-semibold">Description : </label>
            <input type="text" class="form-control form-control-lg" id="description" name="description" th:value="${jobListing.description}">
        </div>
        <div data-mdb-input-init class="form-outline mb-4">
            <label for="company" class="form-label fw-semibold">Company : </label>
            <input type="text" class="form-control form-control-lg" id="company" name="company" th:value="${jobListing.company}">
        </div>
        <div data-mdb-input-init class="form-outline mb-4">
            <label for="salary" class="form-label fw-semibold">Salary : </label>
            <input type="number" class="form-control form-control-lg" id="salary" name="salary" th:value="${jobListing.salary}">
        </div>
        <div data-mdb-input-init class="form-outline mb-4">
            <label for="jobType" class="form-label fw-semibold">Job Type : </label>
            <select name="jobType" id="jobType" class="form-control form-control-lg">
                <option th:each="type:${jobListing.jobType.values()}" th:value="${type}" th:text="${type}"></option>
            </select>
        </div>
        <div data-mdb-input-init class="form-outline mb-4">
            <label for="datePosted" class="form-label fw-semibold">Date Posted : </label>
            <input type="date" class="form-control form-control-lg" id="datePosted" name="datePosted" th:value="${jobListing.datePosted}">
        </div>
        <div data-mdb-input-init class="form-outline mb-4">
            <label for="category" class="form-label fw-semibold">Category:</label>
            <select name="category" id="category" class="form-control form-control-lg">
                    <option  th:each="category:${categories}" th:value="${category.id}" th:text="${category.name}"></option>
            </select>

        </div>
        <div data-mdb-input-init class="form-outline mb-4">
            <label for="jobPoster" class="form-label fw-semibold">Job Poster:</label>
            <select name="jobPoster" id="jobPoster" class="form-control form-control-lg">
                    <option th:each="jobPoster:${jobPosters}" th:value="${jobPoster.id}" th:text="${jobPoster.lastName}"></option>
            </select>

        </div>
        <div>
            <input type="submit" class="btn btn-outline-success" value="Update">
        </div>
    </form>
    </section>
</main>
<!--<footer>-->
<!--    <a th:href="@{JobListingsList}">Job Listings List</a>-->
<!--</footer>-->
</div>
</body>
</html>
