<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="Template.html"
>
<head>
    <!-- Required meta tags  -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <title>Job Listings List</title>
</head>
<body>
<div layout:fragment="content">
<main>

    <div th:each="jobListing:${JobListings.content}" class="card text-center" >
        <div class="card-header" th:text="${jobListing.company}" ></div>
        <div class="card-body">
            <h4 class="card-title" th:text="${jobListing.category.name} + ': '+ ${jobListing.jobTitle}+' ('+${jobListing.jobType}+')'"></h4>
            <h5 class="card-title" th:text=" 'Salary: '+${jobListing.salary}"></h5>
            <p class="card-text" th:text="${jobListing.description}"></p>
            <small class="text-muted" th:text="'Posted by: '+${jobListing.jobPoster.firstName}+ ' ' + ${jobListing.jobPoster.lastName}"></small>

            <div th:if="${#authorization.expression('hasRole(''ADMIN'') or hasRole(''JOBPOSTER'')')}">
                <a class="btn btn-outline-danger" th:onclick="'return confirm(\'Are you sure to delete this JobListing?\')'" th:href="@{'deleteJobListing?id='+${jobListing.id}}">
                    Delete
                </a>
                <a class="btn btn-outline-success" th:href="@{'editJobListing?id='+${jobListing.id}}">
                    Edit
                </a>
            </div>
        </div>
        <div class="card-footer text-muted" th:text="${jobListing.datePosted}">2 days ago</div>
    </div>

    <!--
    <div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">COMPANY</th>
                    <th scope="col">DATE POSTED</th>
                    <th scope="col">DESCRIPTION</th>
                    <th scope="col">JOB TITLE</th>
                    <th scope="col">SALARY</th>
                    <th scope="col">JOB CATEGORY</th>
                    <th scope="col">JOB POSTER</th>
                    <th scope="col">JOB TYPE</th>
                    <th class="align-items-sm-end" th:if="${#authorization.expression('hasRole(''ADMIN'') or hasRole(''JOBPOSTER'')')}">
                        <div class="text-dark-emphasis">
                            ACTIONS
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="jobListing:${JobListings.content}">
                        <td th:text="${jobListing.id}"></td>
                        <td th:text="${jobListing.jobTitle}"></td>
                        <td th:text="${jobListing.company}"> </td>
                        <td th:text="${jobListing.description}"></td>
                        <td th:text="${jobListing.salary}"></td>
                        <td th:text="${jobListing.jobType}"></td>
                        <td th:text="${jobListing.datePosted}"></td>
                        <td th:text="${jobListing.jobPoster.firstName}+ ' ' + ${jobListing.jobPoster.lastName}"></td>
                        <td th:text="${jobListing.category.name}"></td>

                        <td th:if="${#authorization.expression('hasRole(''ADMIN'') or hasRole(''JOBPOSTER'')')}">
                            <a th:onclick="'return confirm(\'Are you sure to delete this JobListing?\')'" th:href="@{'deleteJobListing?id='+${jobListing.id}}">
                                Delete
                            </a>
                            <a th:href="@{'editJobListing?id='+${jobListing.id}}">
                                Edit
                            </a>
                        </td>

                    </tr>
                </tbody>
            </table>
        <ul class="nav nav-pills">
            <li th:each="page, status:${pages}">
                <a th:class="${status.index == currentPage?'btn btn-primary':'btn'}"
                   th:href="@{JobListingsList(page=${status.index}, size=${size})}"
                   th:text="${status.index}"
                ></a>
            </li>
        </ul>
        </div>
    -->
</main>
</div>

</body>
</html>

